
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/signin.css">
    <title>Sign In</title>

</head>

<body>

<div class="container">
    <h2>Sign Up</h2>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit" class="btn">Sign Up</button>
    </form>

    {% if error_message %}
    <div style="color:red;">{{ error_message }}</div>
    {% endif %}

    <p>Already have an account? <a href="/signin">Sign In</a></p> <!-- Prompt to sign in -->

</div>
</body>
</html>
